body {
  font-family: "EB Garamond", serif;
  color: beige;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.container {
  width: 100vw;
  height: 100vh;
  /* margin: 10px auto; */
  background-color: black;
  background-image: url(./images/four-elements-start.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.multi-task {
  display: none;
}
.task {
  display: block;
  width: 300px;
  height: 20px;
  background-color: lightblue;
}

.answer {
  display: block;
  width: 300px;
  background-color: lightpink;
}
