body {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.start-room {
  display: inline-block;
}
.worlds-area {
  display: none;
}

.text {
  width: 80vw;
}
.multi-task {
  display: none;
}
.task {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 20px;
  background-color: white;
  color: black;
}

.answer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  background-color: white;
  color: black;
}
